<form class="{{cssClass}}" autocomplete="off">
    <header class="row flex-gap">
        <div class="item-image">
            <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="92" width="92" />
        </div>
        <div style="flex-grow: 1;">
            <div class="row flex-gap" style="flex-grow: 1; align-items: baseline">
                <div class="item-type" style="flex-grow: 1;">
                    {{ localize typeLabel }}
                </div>
                {{#if (eq item.type "spell")}}
                <div class="magic-skill">
                    <ul class="taglist-small">
                        {{#each item.availableInList}}
                        <li{{#if (eq this.skillId ../item.system.skill)}} class="active"{{/if}}>{{this.label}}</li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}
                {{#if (eq item.type "weapon")}}
                <div class="skill">
                    <ul class="taglist-small">
                        <li class="active">{{localize (lookup (concat "splittermond.skillLabel." item.system.skill) 'string')}}</li>
                    </ul>
                </div>
                {{/if}}
                {{#if (eq item.type "mastery")}}
                <div class="skill">
                    <ul class="taglist-small">
                        {{#each item.availableInList}}
                        <li {{#if (eq this ../item.system.skill)}} class="active"{{/if}}>{{localize (lookup (concat "splittermond.skillLabel." this) 'string')}}</li>
                        {{/each}}
                        <li class="active">{{localize "splittermond.masteryItem.level" }} {{item.system.level}}</li>
                    </ul>
                </div>
                {{/if}}
            </div>
            <input style="flex-grow: 1;" class="item-name" name="name" type="text" value="{{item.name}}" placeholder="{{localize 'splittermond.name' }}" />
            {{#if (eq item.type "spell")}}
            <div class="spell-type">
                <ul class="taglist-small">
                    {{#each item.spellTypeList}}
                    <li class="active">{{this}}</li>
                    {{/each}}
                </ul>
            </div>
            {{/if}}
            {{#if (eq item.type "weapon")}}
            <div class="features">
                <ul class="taglist-small">
                    {{#each item.featuresList}}
                    <li class="active">{{this}}</li>
                    {{/each}}
                </ul>
            </div>
            {{/if}}
            {{#if (eq item.type "shield")}}
            <div class="features">
                <ul class="taglist-small">
                    {{#each item.featuresList}}
                    <li class="active">{{this}}</li>
                    {{/each}}
                </ul>
            </div>
            {{/if}}
            {{#if (eq item.type "armor")}}
            <div class="features">
                <ul class="taglist-small">
                    {{#each item.featuresList}}
                    <li class="active">{{this}}</li>
                    {{/each}}
                </ul>
            </div>
            {{/if}}
        </div>
        
    </header>
    <div class="item-sheet-stat-block">
                    {{#each statBlock}}
                    <div class="item-sheet-stat-block-item">
                    <label>{{localize this.label}}</label>
                    <span>{{this.value}}</span>
                    </div>
                    {{/each}}
                </div>
    <nav class="sheet-navigation" data-group="primary">
        <a class="sheet-navigation-item active" data-tab="description">{{ localize "splittermond.description" }}</a>
        <a class="sheet-navigation-item" data-tab="properties">{{ localize "splittermond.properties" }}</a>
    </nav>
    <main>
        <section class="tab" data-group="primary" data-tab="description">
            <div class="column">
                
            {{editor description target="system.description" button=true owner=owner editable=editable}}
            </div>
        </section>
        <section class="tab" data-group="primary" data-tab="properties">
            {{#*inline "readonlyLocalize"}}
            <label>{{localize templateData.label}}</label>
            <span>{{localize templateData.value}}</span>
            {{/inline}}
            {{#*inline "readonly"}}
            <label>{{localize templateData.label}}</label>
            <span>{{templateData.value}}</span>
            {{/inline}}
            {{#*inline "input"}}
            <label>{{localize templateData.label}}</label>
            <input name="{{templateData.field}}" type="text" value="{{templateData.value}}"
                placeholder="{{localize label}}" />
            {{/inline}}
            {{#*inline "textarea"}}
            <label>{{localize templateData.label}}</label>
            <textarea name="{{templateData.field}}">{{templateData.value}}</textarea>
            {{/inline}}
            {{#*inline "bool"}}
            <label>{{localize templateData.label}}</label>
            <input name="{{templateData.field}}" type="checkbox" value="true" {{#if
                templateData.value}}checked{{/if}} />
            {{/inline}}
            {{#*inline "select"}}
            <label>{{localize templateData.label}}</label>
            <select name="{{templateData.field}}">
                {{selectOptions templateData.choices selected=templateData.value localize=true}}
            </select>
            {{/inline}}
            {{#*inline "inputNumberWithSpinner"}}
            <label>{{localize templateData.label}}</label>
            <div class="row">
                <button class="button-inline" type="button" data-action="dec-value" data-input-query="input[name='{{templateData.field}}']">
                            <i class="fa fa-minus" aria-hidden="true"></i></button>
                <input name="{{templateData.field}}" type="number" value="{{templateData.value}}"
                    placeholder="{{localize label}}" dtype="Number" />
                <button class="button-inline" type="button" data-action="inc-value" data-input-query="input[name='{{templateData.field}}']">
                        <i class="fa fa-plus" aria-hidden="true"></i></button>
            </div>
            {{/inline}}
            <div class="properties-editor">

            {{#each itemProperties}}
            <h3>{{localize this.groupName}}</h3>
            {{#each this.properties}}
            {{> (lookup . 'template') templateData=this}}
            {{#if this.help}}
            <label></label>
            <div class="help-text">{{{this.help}}}</div>
            {{/if}}
            {{/each}}
            {{/each}}
            </div>
        </section>
    </main>
</form>